@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');


body {
  background-color: #1f1204;
  color: #964b00;
  font-family: 'Cormorant Garamond', serif;
}

button {
  background-color: #964b00;
  color: #c08457;
  border-radius: 12px;
  border: 2px solid #964b00;
  text-decoration: none;
}

button:hover {
  background-color: #1f1204;
  color: #c08457;
}

footer {
  font-size: 18px;
  text-align: center;
  padding-left: 15px;
  padding-bottom: 25px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  padding-left: 15px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    // Footer height
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            // Footer height
}

#messageboard {
  color: pink;
}

#singleConfession {
  margin-bottom: 4px;
  background-color: #341d08;
  text-indent: 25px;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 20px;
}

#singleConfession :nth-child(odd) {
  background-color: #7c3f06;
}
