@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');


body {
  background-color: #1f1204;
  color: #964b00;
  font-family: 'Cormorant Garamond', serif;
}

footer {
  font-size: 18px;
  text-align: center;
  padding-left: 15px;
  padding-bottom: 25px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  padding-left: 15px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    // Footer height
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            // Footer height
}

#messageboard {
  color: pink;
}

.singleConfession {
  border: dotted 2px black;
  padding-bottom: 5px;
}
