@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');


body {
  background-color: #000000;
  background-image: url('./public/blm.jpg');
  color: #ffffff;
  font-family: 'Cormorant Garamond', serif;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

footer {
  font-size: 16px;
  text-align: center;
  padding-left: 15px;
  background-color: #212121;
  margin-top: 15px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  padding-left: 15px;
  background-color: #212121;
}

#confessionsList {
  align-items: center;
  background-color: rgba(34, 34, 34, .6);
  flex-direction: column;
  display: flex;
  width: 750px;
  align-items: center;
  height: 750px;
  margin: auto auto 45px;
  flex-wrap: nowrap;
  overflow-y: auto;
}

#confessionsModalButton {
  background-color: #000000;
  color: #FFFF00;
  border-radius: 12px;
  border: 2px solid #FFFF00;
  text-decoration: none;
}

#confessionsModalButton:hover {
  background-color: #FFFF00;
  color: #000000;
  border: 2px solid #000000;
}

#messageboard {
  color: pink;
}

#singleConfession {
  margin-bottom: 10px;
  text-indent: 25px;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 20px;
  border: 2px yellow solid;
}
